@inject Hub75Matrix matrix

<div>
    <h3>Images</h3>
    <div>
        @foreach(var category in Media.Image.GetAllImages())
        {
            <h4>@category.Key</h4>
                <div style="display: inline-flex;flex-wrap: wrap;">
                @foreach (var image in category.Value)
                {
                    <ImageCard Image=@image OnClick=@((image) => RenderImage(image))/>
                }
                </div>
        }
    </div>

     @*<h3>Gifs</h3>
    <div>
        @foreach(var gif in typeof(Media.Gif).GetAllPublicConstantValues<string>())
        {
            if (gif != null)
            {
                <ImageCard Src=@Media.Gif.GetRelativePath(gif) OnClick=@((src) => RenderGif(gif))/>
            }
        }
    </div>*@
</div>

@code {
    private void RenderImage(Media.Image image)
    {
        matrix.CancelCurrentTask(false);
        matrix.DrawImage(image);
    }
}
