button {
    background-color: rgb(255, 165, 0);
    color: white;
    user-select: none;
}

/*.blink {
    --blink-duration: 700ms;
    background-color: unset;
    animation: blink var(--blink-duration) step-start infinite;
}*/

.on {
    background-color: unset;
    color: orange;
}

.off {
    background-color: unset;

}

/*@keyframes blink 
{
    50% {*/
/*        background-color: transparent;*/
        /*color: orange;
    }

}*/