@inherits LayoutComponentBase

<PageTitle>LED Matrix</PageTitle>

<NavigationMenu/>

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
