@inherits LayoutComponentBase

<PageTitle>@Title</PageTitle>

<CascadingValue Value="this">
    <div class="website-header">
        <NavigationMenu/>
        <h1 class="page-title">@Title</h1>
    </div>
    
    <div class="page">
        <main>
            <article class="content">
                @Body
            </article>
        </main>
    </div>
</CascadingValue>

@code
{
    private string title = "LED Matrix";

    public string Title
    {
        get => title;
        set
        {
            title = value;
            InvokeAsync(() => StateHasChanged());
        }
    }
}