@page "/bike"
@inherits Page
@using static Led.BlazorServerWebApp.Components.Buttons.TurnSignalButton
@inject Hub75Matrix matrix

<div class="turn-signals">
    <TurnSignalButton 
        Direction=@TurnSignal.Left 
        OnDuration=@settings.TurnSignal.OnDuration
        OffDuration=@settings.TurnSignal.OffDuration/>
    <TurnSignalButton 
        Direction=@TurnSignal.Right 
        OnDuration=@settings.TurnSignal.OnDuration
        OffDuration=@settings.TurnSignal.OffDuration/>
</div>

<div class="secondary-buttons">
    <PowerButton @bind-IsOn=@matrix.IsOn>@MaterialIcons.Lightbulb</PowerButton>
    <PowerButton IsOn=@RaspberryPi.IsRecording OnToggle="RaspberryPi.ToggleRecording">@MaterialIcons.VideoCamera</PowerButton>
    <ImageCard Image=@Media.Image.Bike OnClick=@((src) => RenderImage(Media.Image.Bike))/>
</div>


@code {
    private ApplicationSettings settings = ApplicationSettings.Load();

    protected override void OnInitialized()
    {
        Title = "Bike";
    }

    private void RenderImage(Media.Image image)
    {
        matrix.CancelCurrentTask(false);
        matrix.DrawImage(image);
    } 
}
