@page "/gallery"

<h1>Gallery</h1>

<MediaBrowser/>

@code {
    //private IEnumerable<string> GetImagePaths()
    //{
    //    return typeof(Media.Image).GetAllPublicConstantValues<string>();
    //}

    //private IEnumerable<string> GetImagePaths()
    //{
    //    return typeof(Media.Gif).GetAllPublicConstantValues<string>();
    //}
}
